.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.error {
  border-color: red;
}

.todoList-task.done {
  opacity: 0.5;
}

.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.filter-active {
  background-color: #9ff3ff;
}
.todoList {
  max-width: 300px;
  border: 2px solid #9ff3ff;
  margin-bottom: 20px;
  margin-right: 20px;

}



.newItemForm {
  margin-bottom: 20px;
}